.nav {
  color: var(--white);
  display: flex;
  justify-content: flex-end;
}
.nav_item {
  color: var(--white);
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav_item:hover {
  color: var(--blue);
}
.nav_item:not(:last-child) {
  margin-right: 50px;
}
