.pageWrapper {
  width: 1200px;
  height: 600px;
  border-radius: 5px;
  background: radial-gradient(var(--white), var(--blue));
  box-shadow: 0 0 40px var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner {
  width: 1190px;
  height: 590px;
  background: url(../../assets/img/page-bg.jpg) no-repeat center center;
  background-size: cover;
  border-radius: 3px;
}
