.layout {
  width: 100wv;
  height: 100vh;
  margin: 0 auto;
  /* background: url(../../assets/img/main-bg.jpg) no-repeat center center;
  background-size: cover; */
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
